{# templates/widgets/slack.html.twig #}

	
                    <a class="btn btn-primary btn-icon" href="https://twitter.com/share?url={{ url }}&via={{ twitter_handle }}&text={{ title }}&hashtags={{ hash_tags }}"
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');captureOutboundLink('http://www.twitter.com','share');return false;"
                       target="_blank" title="Share on Twitter"><i class="fab fa-twitter"></i> Deel op Twitter
                    </a>             
                    <a class="btn btn-primary btn-icon" href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ title }}&summary=&source="
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');captureOutboundLink('http://www.linkedin.com','share');return false;"
                       target="_blank" title="Share on Twitter"><i class="fab fa-linkedin-in"></i> Deel op Linkdin
                    </a> 
                    <a class="btn btn-primary btn-icon" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}&t{{ title }}"
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');captureOutboundLink('http://www.facebook.com','share');return false;"
                       target="_blank" title="Share on Facebook"><i class="fab fa-facebook-f"></i> Deel op Facebook
                    </a>  
    
    
    
    