{# templates/widgets/slack.html.twig #}

	<div id="slack" class="wrap-container8040 bg-grey">        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-12 col-md-7  text-center-sm text-center-xs">
                	<div class="margin-bottom40">
                    	<div class="post-heading-left text-center-sm text-center-xs">
                        	<h4>Geintresserd? en wil je graag verder meedoen met dit onderwerp?</h4>
                        	<h2>Praat mee!</h2>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-12 col-md-5  text-center-sm text-center-xs">
                	<a href="https://twitter.com/share?url={{ url }}&via={{ twitter_handle }}&text={{ title }}&hashtags={{ hash_tags }}"
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');captureOutboundLink('http://www.twitter.com','share');return false;"
                       target="_blank" title="Share on Twitter" targer="_blank">
                        <span class="fa-stack fa-2x">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>                	
                	</a>
                	<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ title }}&summary=&source="
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');captureOutboundLink('http://www.linkedin.com','share');return false;"
                       target="_blank" title="Share on Twitter">
                        <span class="fa-stack fa-2x">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab  fa-linkedin-in fa-stack-1x fa-inverse"></i>
                        </span>           	
                	</a>     	 
                	<a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}&t{{ title }}"
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');captureOutboundLink('http://www.facebook.com','share');return false;"
                       target="_blank" title="Share on Facebook">
                        <span class="fa-stack fa-2x">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                        </span>                	
                	</a>     	 
                	<a href="https://stackoverflow.com/search?q=conduction+commonground">
                        <span class="fa-stack fa-2x">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
                        </span>                	
                	</a>
                	<a href="https://conduction-cg.slack.com/">
                        <span class="fa-stack fa-2x">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-slack fa-stack-1x fa-inverse"></i>
                        </span>                	
                	</a>
                	<a href="https://github.com/ConductionNL">
                        <span class="fa-stack fa-2x">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-github-alt fa-stack-1x fa-inverse"></i>
                        </span>                	
                	</a> 
                	</a> 
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->        
    </div>
    <!-- .wrapper end -->
    
    
    
    